---
layout: default
title: Mailmeteor - Support & Help center
description: Find out everything you need to send mail merges from Gmail. Get up and running quickly with Mailmeteor.
canonical: https://mailmeteor.com/support

og_title: Mailmeteor - Support & Help center
og_description: Find out everything you need to send mail merges from Gmail. Get up and running quickly with Mailmeteor.
og_url: https://mailmeteor.com/support
---

<!-- SUPPORT  -->

<div class="page-support">
  <!-- SUPPORT > SEARCH -->
  <div class="page-support-search">
    <div class="container">
      <h1 class="text-center">Get help with Mailmeteor</h1>
      <form action="https://support.mailmeteor.com/" class="text-center" method="get">
        <div class="form-inline">
          <input class="form-control" type="search" name="q" placeholder="Search the Help Center" aria-label="Search" />
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <!-- SUPPORT > MAIN SECTIONS -->
    <div class="page-support-sections">
      <ul>
        {% for section in site.data.support.sections %}
        <li>
          <a href="{{ section.link }}"> {{ section.name }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- SUPPORT > TOP ARTICLES -->
    <div class="page-support-articles">
      <h2>Featured articles</h2>
      <ul>
        {% for article in site.data.support.articles %}
        <li>
          <a href="{{ article.link }}"> {{ article.name }} </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container text-center mb-4">
    <a href="https://support.mailmeteor.com" class="btn btn-filled" style="display: inline-block">All tutorials & guides</a>
  </div>
</div>